/* .slick {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  } */
  /* .slick-image {
    position: absolute; 
    top: 50; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 1000%;
    min-height: 1000%;
  } */

  /* .slides {
    position: relative;
  } */
    /* .slick-prev {
      left: 5%;
      position: absolute;
      top: 50%;
    }
    .slick-next {
      right: 5%;
      position: absolute;
      top: 50%;
    } */
  