.members {
  border-radius: 50%;
  padding-left: 100px;
}

.memberName {
  
  display: inline;
}

#askar {
  padding-left: 160px;
}

#sunny {
  padding-left: 240px;
}

#nithin {
  padding-left: 220px;
}

#tanay {
  padding-left: 200px;
}